body,
html {
  height: 100%;
  margin: 0;
}

.parallax,
.paraOne,
.paraTwo,
.paraThree {
  /* Set a specific height */
  height: 500px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url("../images/cat_eye.png");
}

.paraOne {
  /* The image used */
  background-image: url("../images/tiger.jpg");
  display: inline-block;
  margin: 5px 5px 5px 0;
}

.paraTwo {
  /* The image used */
  background-image: url("../images/cars.jpg");
  display: inline-block;
  margin: 5px;
}

.paraThree {
  /* The image used */
  background-image: url("../images/blue_rose.jpeg");
  display: inline-block;
  margin: 5px 0 5px 5px;
}

.header {
  background-color: white;
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.bord {
  background-color: rgba(17, 17, 17, 0.5);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

input[type="text"],
textarea {
  margin-bottom: 5px;
}

.error {
  border: 1px solid red;
}

ul {
  list-style-type: none;
  width: 20%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  width: 100%;
  margin: 0 auto;
}

.openingHoursHead {
  width: 30%;
  margin: 15px auto;
}

.openingHoursLi {
  width: 40% !important;
}

.navBgColor {
  background-color: #334 !important;
}

.nav-link-override {
  display: block;
  padding: 0.5rem 1rem;
  padding-right: 0;
  padding-left: 0;
  color: white;
}

.navbar-toggler-override {
  background: transparent;
  color: white;
  border: transparent;
  font-size: 25px;
}

.navbar-toggler-icon-override {
  background: transparent;
  color: white;
}

.navbar-nav {
  width: 35%;
  text-align: center;
}

.navbar-nav>li {
  width: 20%;
}

.navbar-nav>li>a {
  color: white;
}

.navbar-nav>li>a:focus {
  border: none;
}

@media only screen and (max-width: 600px) {

  .paraOne,
  .paraTwo,
  .paraThree {
    margin: 5px 0;
  }

  .row {
    display: inline;
  }

  h1 {
    font-size: 29px;
  }

  .bord {
    border: none;
  }

  .caption span.bord {
    background-color: transparent;
  }

  ul {
    width: 100%;
  }

  .navbar-nav>li {
    width: 100% !important;
  }

  .openingHoursHead {
    width: 100%;
  }

  .openingHoursLi {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .openingHoursHead {
    width: 100%;
  }

  ul {
    width: 100%;
    margin: 0 auto;
  }

  ul>li {
    width: 100%;
    margin: 0 auto;
  }
}